$break-mobile-small: 320px;
$break-mobile-medium: 375px;
$break-mobile-large: 425px;

$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1366px;
$break-desktop-medium: 1440px;
$break-desktop-large: 1600px;
