$color-blue-just: rgba(0, 0, 255, 1);
$color-separator: rgba(0,0,0,.06);
$color-link: rgb(9, 108, 255);
$color-link-hover: #ffab5e;
$color-link-focus: rgba(255, 172, 94, 0.24);
$color-link-active: #be7937;
$color-focus: #00b8ff;

$color-text-gray: rgba(0, 0, 0, .54);

$color-button: #70ca08;
$color-button-hover: #5ba704;
$color-button-focus: rgba(112, 202, 8, 0.24);
$color-button-active: #659c25;

