<div class="pay-layout__navigation">
  <a routerLink="/">← выбрать другого оператора</a>
</div>

<div class="pay-layout__main__white">

  <app-loading *ngIf="requestState['isLoading']"></app-loading>

  <div *ngIf="currentProvider">
    <h2 class="mar-b-8">
      <b>{{currentProvider['title']}}</b>
      <button class="pay-text-button font-size-small" (click)="deleteProvider()">удалить</button>
    </h2>
    <div class="pay-form__submit-error mar-b-16" *ngIf="cantDelete">Не могу удалить провайдера из списка</div>

    <app-payment-form [operatorSlug]="currentSlug" (handleSendFormComplete)="isPaymentSuccess($event)"></app-payment-form>
  </div>

  <app-error *ngIf="requestState['isError']" (handleRefreshRequest)="getProviderBySlug(currentSlug)"></app-error>

</div>

<div *ngIf="redirectLoading" class="mar-t-16 pay-layout__redirect-waiter">
  <app-loading></app-loading>
  <div>Переходим к списку операторов...</div>
</div>
