@import 'src/styles/vars/entry';

.pay-provider {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 3px;

  margin-right: 16px;
  margin-bottom: 16px;
}

.pay-provider__title {

}
