body {
  background: #f7f4f4;
}

.pay-layout {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;

  @media (min-width: $break-tablet) {
    max-width: 400px;
    padding: 0;
  }
}

.pay-layout__header {
  margin-top: 24px;
  margin-bottom: 0;
  padding-left: 24px;

  @media (min-width: $break-tablet) {
    margin-top: 88px;
    margin-bottom: 24px;
    padding-left: 0;
  }
}

.pay-layout__header-title {
  font-size: 23px;
  font-weight: 500;
}

.pay-layout__navigation {
  margin-left: 24px;
  font-size: 15px;
  padding-bottom: 24px;

  @media (min-width: $break-tablet) {
    margin-left: 0;
    padding-bottom: 16px;
  }
}

.pay-layout__main__white {
  padding: 32px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 130px;
}

.pay-layout__footer {
  margin-top: 128px;
}


.pay-layout__redirect-waiter {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
